html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0f151c;
  color: white;
  text-align: center;
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
}

a {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Monserrat", sans-serif;
  font-size: 1.5rem;
  color: black;
  margin: 40px;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

code {
  display: flex;
  align-self: center;
  background-color: #0f151c;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: fit-content;
}

#logo {
  background-color: white;
  display: grid;
}

.cover {
  z-index: 3;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.cover,
.disco {
  grid-area: 1/1;
}

.disco {
  position: relative;
  transform: translate(0%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes disc {
  form {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 850px) {
  .vinil {
    animation: disc 3s infinite linear;
    transform-origin: center;
    width: 60vw;
  }

  .gif {
    border: 10px solid #000000;
    border-radius: 10px;
    width: 70%;
    height: 70%;
  }
  .sushi {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32vw;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 851px) {
  .vinil {
    animation: disc 4s infinite linear;
    transform-origin: center;
    min-width: 400px;
    width: 15vw;
  }
  .gif {
    border: 10px solid #000000;
    border-radius: 10px;
    width: 50%;
    height: 50%;
  }
  .sushi {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8.2vw;
    min-width: 216px;
    transform: translate(-50%, -50%);
  }
}
